<ag-grid-angular 
  [rowData]="rows" 
  [columnDefs]="columnas"
  [pagination]="false"
  class="ag-theme-alpine"
  [style]="{ width: styleTableWidth, height: styleTableheight }" 
  (contextmenu)="blockContextMenu($event)" 
  (cellContextMenu)="abrirMenu($event)"
  
  >
</ag-grid-angular>

<button class="btn btn-success" [disabled]="paginacion?.pagina == 1 || !paginacion " (click)="primeraPagina()">⬅️ Primera </button>
<button class="btn btn-success" [disabled]="paginacion?.pagina == 1 || !paginacion " (click)="paginaAnterior()">◀️ Anterior</button>

  <b class="no-select no-highlight" *ngIf="paginacion && paginacion.totalPaginas > 0  ">
   pagina<b *ngIf="paginacion && paginacion.pagina > 1">s</b>  {{paginacion.pagina}} de {{paginacion.totalPaginas}}
  </b>

<button class="btn btn-success" [disabled]="paginacion?.pagina == paginacion?.totalPaginas" (click)="siguientePagina()">▶️ Siguiente {{paginacion?.pagina}} {{paginacion?.totalPaginas}}</button>
<button class="btn btn-success" [disabled]="paginacion?.pagina == paginacion?.totalPaginas" (click)="ultimaPagina()">➡️ Última</button>

<!-- Botón INVISIBLE para activar el menú -->
<button #menuTrigger mat-button [matMenuTriggerFor]="menu" 
style="display: block;"  ></button>



  
<mat-menu #menu="matMenu">
    <button *ngIf="itemAgregar" mat-menu-item (click)="agregarFila()">{{itemAgregar}}</button>
    <button *ngIf="itemEliminar" mat-menu-item (click)="eliminarFila()">{{itemEliminar}}</button>
  </mat-menu>
  