
<app-clientes-add
[nombreCard]="'Agregar cliente'"
($hideComponent)="ocultarComponente($event)"
[hidden]="ocultarCliente"
>

</app-clientes-add>





<!--
<div class="row" >
  <div class="col-6">
    <div class="ruleta-container">
      <div class="indicador"></div> 
      <canvas #ruletaCanvas></canvas>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
        <div class="card-title">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                    <ul *ngIf="participantes != null && participantes.length > 0">
                    <li *ngFor="let item of participantes"> {{item?.cliente?.nombrePersona}}</li>
                </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>


<div class="row">
    <div class="col-4">
        <button class="btn btn-secondary" [disabled]="desHabilitarBotonClic" (click)="iniciarRifa()">Iniciar Rifa</button>
    </div>

        <div class="col-4">
        <button class="btn btn-secondary" [disabled]="ocultarCliente && ocultarBtnParticipar " (click)="participarRifa()">Participar</button>
    </div>
</div>
<input type="text" [(ngModel)]="mensaje" placeholder="Escribe un mensaje">
<button (click)="enviar()">Enviar mensaje</button>


<div class="row">
  <div class="col-12">
    <ul>
      <li *ngFor="let item of datos">{{item}}</li>
    </ul>
  </div>
</div>

-->