.mat-menu-item {
    font-size: 16px;         // 📌 Cambia el tamaño de la fuente
    color: rgb(0, 0, 0) !important; // 📌 Forzar color del texto
    border-radius: 5px;      // 📌 Bordes redondeados

    

  }
  .no-select {
    user-select: none; /* 🚫 Evita la selección de texto */
    -webkit-user-select: none; /* 🔹 Para Safari */
    -moz-user-select: none; /* 🔹 Para Firefox */
    -ms-user-select: none; /* 🔹 Para Internet Explorer */
}

.no-highlight::selection {
    background: transparent; /* 🚫 Evita el fondo azul al seleccionar */
}

  .mat-menu-item:hover {
  }

//   ::ng-deep .cdk-overlay-pane {
  //   position: absolute !important;
  //   left: 300px !important;  // 📌 Mueve el menú hacia la derecha
  //  top: 100px !important;   // 📌 Mueve el menú hacia abajo
 //  }
