<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">

    <!-- Botón para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="'home'">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" *ngIf="isAdminUser" data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse.show" [routerLink]="'productos/agregar'">agregar </a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'productos/buscar'">buscar</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdminUser">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ventas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'ventas/venta'">Venta</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'ventas/buscar'">buscar</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="isAdminUser">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gastos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'gastos/agregar'">agregar</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'gastos/buscar'">buscar</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown" *ngIf="isAdminUser">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rifas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'rifas/agregar'">agregar</a></li>
            <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                [routerLink]="'rifas/buscar'">buscar</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown" *ngIf="isAnonymous">
          <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
            [routerLink]="'login'" role="button" aria-expanded="false">
            Login
          </a>
        </li>

      </ul>


      <li class="nav-item dropdown" *ngIf="!isAnonymous">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <span><i class="bi bi-person-circle "></i> Bienvenido <strong>{{ username }}</strong></span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              [routerLink]="'clientes/mis-datos'">Mis datos</a></li>

          <li><a class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              [routerLink]="'clientes/mis-datos'">
                     <button class="btn btn-secondary btn-sm " (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i> Salir
        </button>
            
            </a>
            
            </li>
        </ul>




      </li>



 
 
<!--
      
      <div class="dropdown-item" *ngIf="!isAnonymous">
        <button class="btn btn-secondary btn-sm " (click)="logout()">
          <i class="bi bi-box-arrow-right me-1"></i> Salir
        </button>
      </div>
-->



      <div class="dropdown-item  d-flex justify-content-center">
        <button class="btn btn-secondary btn-sm ms-3" (click)="revisarProductosCarrito()">
          <img [src]="iconService.iconCarrito" alt="carrito" style="width: 20px; height: 20px;">
          carrito {{countCarrito}}
        </button>
      </div>


    </div>

  </div>


</nav>