

<div class="row">
    <div class="col-4 p-2">
        <div class="input-group mb-3">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Buscar producto" 
            aria-label="Username" 
            aria-describedby="basic-addon1"
            (keyup)="buscarProductos($event)"
            >
          </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-all 
        [buscar]="buscarProd" 
        [paginacion]="paginacionBuscar"
        [itemAgregar]="itemAgregar"
        [itemEliminar]="itemEliminar"
        [styleTableWidth]= "styleTableWidth1"
        [styleTableheight]= "styleTableheight1"
        ></app-all>
    </div>
</div>
