<div class="container" style="
  width: 80%;
  height: 80%;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url('./../../assets/imagenes/tulipanes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 40px;
  gap: 30px; /* Espacio entre textos */
">
  <b style="font-size: 60px;">Venta de bolsas</b>
  <b style="font-size: 50px; font-family: 'Montserrat', sans-serif;">Jade & Key</b>
</div>
