<div class="container" style="
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: gray;
  background-image: url('./../../assets/imagenes/tulipanes.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
">

<div class="row">
    <div class="col-12 d-flex justify-content-center">
       <b style="font-size: 70px; font-family: 'Montserrat', sans-serif;">
        Jade & Key
       </b>
    </div>
</div>

<div class="row">
    <div class="col-12 d-flex justify-content-center">
       <b style="font-size: 70px;">
        Venta de bolsas
       </b>
    </div>
</div>

</div>